<footer class="section-sm pb-4 has-anim">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h4 class="h3 font-weight-light text-light">Let’s build a brand together ! <a href="contact.html" class="text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2">
                                <line x1="7" y1="17" x2="17" y2="7"></line>
                                <polyline points="7 7 17 7 17 17"></polyline>
                            </svg>
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 mb-4 mb-lg-0 text-light">
                <h4 class="font-weight-light mb-4">
                    <a href="mailto:contact@abildon.io" class="line-link">hello@chaitrarao.com</a>
                </h4>

                <p>Phone: +072 223 2424</p>
                <p>Based in Bangalore,</p>
                <p>IND LT : <script>
                        document.write(new Date().toDateString())
                    </script>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 ml-auto">
                <ul class="footer-link list-unstyled">
                     <li>
                        <a href="about-us.html">Sitemap</a>
                    </li>
                    <li>
                        <a href="about-us.html">Home</a>
                    </li>
                    <li>
                        <a href="about-me.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="portfolio.html">Work</a>
                    </li>
                     <li>
                        <a href="portfolio.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                <ul class="footer-link list-unstyled">
                     <li class="decor-text">
                        <a href="about-us.html">Blog</a>
                    </li>
                    <li>
                        <a href="blogs-1-col.html">Branding</a>
                    </li>
                    <li>
                        <a href="team.html">SEO</a>
                    </li>
                    <li>
                        <a href="pricing.html">Audience Buiding</a>
                    </li>
                     <li>
                        <a href="pricing.html">E-books</a>
                    </li>
                </ul>
            </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                <ul class="footer-link list-unstyled">
                     <li>
                        <a href="about-us.html">Info</a>
                    </li>
                    <li>
                        <a href="blogs-1-col.html">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="team.html">Terms</a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <ul class="footer-link list-unstyled list-inline mt-4 mt-md-5">
                    <li class="list-inline-item">
                        <a href="#!">Linkedin</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">Medium</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">Behance</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">Dribble</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mb-5 pb-4 text-light">
                <p class="h6 font-weight-light mb-2">Copyright &copy;<script>
                        document.write(new Date().getFullYear())
                    </script>. <a href="https://ui8.net/flexplate/products" class="line-link text-light font-weight-light">Developed by Chaitra Rao</a>
                </p>
            </div>
        </div>
    </div>
</footer>
