<div class="adjust-navigation-height"></div>

<header class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light px-0 py-3 py-lg-4">
                    <!-- navbar logo -->
                    <a class="navbar-brand font-weight-bold mb-0" href="index.html" title="chaitra">
                        <img src="image/Chaitra-Rao.svg" alt="chaitra-rao">
                    </a>

                    <!-- navbar-toggler -->
                    <button class="navbar-toggler" type="button" data-toggle="navbar-menu">
                        <svg viewbox="0 0 341.333 341.333">
                            <g>
                                <g>
                                    <rect y="277.333" width="341.333" height="42.667"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect y="149.333" width="341.333" height="42.667"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect y="21.333" width="341.333" height="42.667"/>
                                </g>
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                        </svg>
                    </button>

                    <!-- sidenav-overlay -->
                    <div class="sidenav-overlay"></div>

                    <!-- navbar links -->
                    <div class="navbar-collapse" id="navbar-menu">
                        {%include "_menu.njk"%}
                        <!-- navbar actions -->
                        <div class="navbar-actions">
                            <a href="https://ui8.net/flexplate/products" class="btn btn-org" data-text="Buy now" target="_blank" rel="nofollow">
                                <span>Buy Now</span></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>