<ul class="navbar-nav mx-auto">
    <li data-toggle="navbar-menu-close">
        <i class="las la-times mr-1"></i>Close</li>

    
    <li class="nav-item">
        <a class="nav-link" href="about-us.html" role="button"  aria-haspopup="true" aria-expanded="false">About Us</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="portfolio-broken.html">Portfolio Broken</a>
            </li>
            <li>
                <a class="dropdown-item" href="portfolio-single.html">Portfolio Single</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="blog-single.html">Blog Single</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="services.html">Services</a>
            </li>
            <li>
                <a class="dropdown-item" href="team.html">Our Team</a>
            </li>
            <li>
                <a class="dropdown-item" href="pricing.html">Pricing Plans</a>
            </li>
            <li>
                <a class="dropdown-item" href="faq.html">FAQ</a>
            </li>
            <li>
                <a class="dropdown-item" href="privacy.html">Privacy &amp; Policy</a>
            </li>
            <li>
                <a class="dropdown-item" href="style-guide.html">Style Guide</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
    </li>
</ul>