  {% set page_class = blog-single %}
  {% extends "template.njk" %}
  {% block main %}

  <!-- scroll-progress & goto-top -->
  {% include "_scrollProgress.njk"%}}
  <!-- start of navigation -->
  {% include "_header.njk"%}
  <!-- end of navigation -->

<!-- start of page-header -->
<section class="page-header pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <div class="mt-0 mt-lg-4">
          <p class="mb-3 font-weight-500 has-anim fade">Branding <span class="mx-2 d-inline-block">━</span> 15 Jan, 2021</p>
          <h2 class="text-white font-weight-500 has-anim fade anim-delay-1">Introducing the Product of Branding, a guide for startups and beyond<span class="text-primary">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of page-header -->


<!-- end of portfolio-details -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-n5 has-anim anim-delay-2">
        <img loading="lazy" class="img-fluid" src="image/blogs/blog-details/00.jpg" alt="blog thumb">
      </div>
    </div>
  </div>

  <div class="section bg-white">
    <div class="container">
      <div class="row justify-content-center pt-5">
        <div class="col-lg-9">
          <div class="pr-0 pr-lg-5">
            <div class="content mb-5 pb-3">
              <p class="lead">It's always inspiring to see our friends, from the industry, creating and making cool stuff to inspire others. It's a reward that we will never take for granted and we will will always be supporting.</p>
              <p>Product of Branding aims to show designers how to get the information you need to understand the project and make it the best it can be; as well as providing those on the client-side with advice on how to get the best out of the creatives you're working with.</p>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-10">
                <div class="text-center">
                  <div class="review-icon text-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16"> <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/> <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/> </svg>
                  </div>
                  <p class="lead mt-4 text-dark">“After using abildon my business skyrocketed! I wish I would have it first. It is worth much more than I paid.”</p>
                </div>
              </div>
            </div>

            <div class="row mt-5 pt-3">
              <div class="col-md-5">
                <img loading="lazy" class="img-fluid mb-5" src="image/blogs/blog-details/01.gif" alt="portfolio thumb">
              </div>
              <div class="col-md-7">
                <img loading="lazy" class="img-fluid mb-5" src="image/blogs/blog-details/02.gif" alt="portfolio thumb">
              </div>
            </div>

            <div class="content mb-5">
              <h3 class="text-dark h3 mb-3">About Product of Branding</h3>
              <div class="row">
                <div class="col-lg-7">
                  <p>Laudantium fugiat sapiente illo tempora amet obcaecati adipisci at, asperiores fuga nesciunt totam enim quia nihil dolores delectus cumque saepe aspernatur dicta repellat animi odit numquam facere.</p>
                  <p>Asperiores fuga nesciunt totam enim quia nihil dolores aspernatur dicta repellat animi odit numquam facere.</p>
                </div>
                <div class="col-lg-5">
                  <ul>
                    <li><a href="#!">November Universe by Brand Nu</a></li>
                    <li><a href="#!">Book depository</a></li>
                    <li><a href="#!">Foyles</a></li>
                    <li><a href="#!">Waterstones</a></li>
                    <li><a href="#!">Blackwell Books</a></li>
                    <li><a href="#!">Wordery</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <img loading="lazy" class="img-fluid mt-4" src="image/blogs/blog-details/03.jpg" alt="portfolio thumb">
              </div>
              <div class="col-md-6">
                <img loading="lazy" class="img-fluid mt-4" src="image/blogs/blog-details/04.jpg" alt="portfolio thumb">
              </div>
              <div class="col-12">
                <img loading="lazy" class="img-fluid mt-4" src="image/blogs/blog-details/05.jpg" alt="portfolio thumb">
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="section pt-0 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="section border-top pb-0"></div>
          <h3 class="h2 text-dark font-weight-500 has-anim fade">Related posts</h3>
        </div>
        <div class="col-lg-4 col-md-6">
          <article class="card blog-card border-0 rounded-0 has-anim fade">
            <div class="card-background" style="background-color:#d59801"></div>
  
            <a href="blog-single.html" class="card-image"><img loading="lazy" src="image/blogs/04.jpg" class="card-img rounded-0" alt="blog-post"></a>
            
            <div class="card-body p-0 mt-4">
              <span class="card-tag mb-3">
                <a href="blogs-1-col.html">3D Design</a>
              </span>
  
              <h4 class="card-title"><a href="blog-single.html">"90s Toypography" is going to make you nostalgic for a time</a></h4>
              <p class="card-text">When Blockbuster was alive, Sun-In was all the rage, and hacky sack was cool.</p>
  
              <p class="card-meta mt-3">4 Oct 2021 <span class="mx-2">—</span> 2 mins read</p>
            </div>
          </article>
        </div>
        <div class="col-lg-4 col-md-6">
          <article class="card blog-card border-0 rounded-0 has-anim fade anim-delay-1">
            <div class="card-background" style="background-color:#296e4a"></div>
  
            <a href="blog-single.html" class="card-image"><img loading="lazy" src="image/blogs/05.jpg" class="card-img rounded-0" alt="blog-post"></a>
            
            <div class="card-body p-0 mt-4">
              <span class="card-tag mb-3">
                <a href="blogs-1-col.html">Graphic design</a>
              </span>
  
              <h4 class="card-title"><a href="blog-single.html">Posters | This Vol. is Pure Graphic Design Nostalgia</a></h4>
              <p class="card-text">I grew up in a time when poster were the most desired piece of object in any kids.</p>
  
              <p class="card-meta mt-3">18 Apr 2021 <span class="mx-2">—</span> 2 mins read</p>
            </div>
          </article>
        </div>
        <div class="col-lg-4 col-md-6">
          <article class="card blog-card border-0 rounded-0 has-anim fade anim-delay-2">
            <div class="card-background" style="background-color:#0a11a8"></div>
  
            <a href="blog-single.html" class="card-image"><img loading="lazy" src="image/blogs/06.jpg" class="card-img rounded-0" alt="blog-post"></a>
            
            <div class="card-body p-0 mt-4">
              <span class="card-tag mb-3">
                <a href="blogs-1-col.html">Showcase</a>
              </span>
  
              <h4 class="card-title"><a href="blog-single.html">Visual Identity for the Big Picture Gradshow</a></h4>
              <p class="card-text">Shanti Sparrow Design had posted this branding and identity project they did for a Graphic Design graduation show.</p>
  
              <p class="card-meta mt-3">18 Nov 2021 <span class="mx-2">—</span> 3 mins read</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of portfolio-details -->

<!-- start of footer -->

  {% include "_footer.njk" %}
  
  <!-- end of footer -->
  {% endblock %}