  {% set page_class = portfolio-broken %}
  {% extends "template.njk" %}
  {% block main %}

  <!-- scroll-progress & goto-top -->
  {% include "_scrollProgress.njk"%}}
  <!-- start of navigation -->
  {% include "_header.njk"%}
  <!-- end of navigation -->

<!-- start of page-header -->
<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="my-0 my-lg-5">
          <p class="mb-3 font-weight-500 has-anim fade">Our Portfolio</p>
          <h2 class="text-white font-weight-500 has-anim fade anim-delay-1">Portfolio Broken<span class="text-primary">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of page-header -->

<!-- start of portfolio -->
<section class="broken-portfolio pb-5">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6 mb-5 pb-0 pb-md-5 has-anim">
        <div class="card portfolio-card card-overlay card-hover-zoom">
          <span class="card-img">
            <img class="img-fluid" src="image/portfolio/grid/04.jpg" alt="Portfolio Thumbnail">
            <span class="img-overlay" style="background-color:#881302"></span>
          </span>
          <div class="card-img-overlay text-center">
            <div class="block">
              <h3 class="h2 card-title mb-3"><a href="portfolio-single.html">Bright Stairs</a></h3>
              <span class="card-subtitle"><a href="portfolio-grid-3-col.html">Construction</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-5 pb-0 pb-md-5 has-anim">
        <div class="card portfolio-card card-overlay card-hover-zoom">
          <span class="card-img">
            <img class="img-fluid" src="image/portfolio/carousel/01.jpg" alt="Portfolio Thumbnail">
            <span class="img-overlay" style="background-color:#D83013"></span>
          </span>
          <div class="card-img-overlay text-center">
            <div class="block">
              <h3 class="h2 card-title mb-3"><a href="portfolio-single.html">Spearmint</a></h3>
              <span class="card-subtitle"><a href="portfolio-grid-3-col.html">Branding</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mb-5 pb-5 has-anim">
        <div class="card portfolio-card card-overlay card-hover-zoom">
          <span class="card-img">
            <img class="img-fluid" src="image/portfolio/carousel/06.jpg" alt="Portfolio Thumbnail">
            <span class="img-overlay" style="background-color:#414141"></span>
          </span>
          <div class="card-img-overlay text-center">
            <div class="block">
              <h3 class="h2 card-title mb-3"><a href="portfolio-single.html">Glance</a></h3>
              <span class="card-subtitle"><a href="portfolio-grid-3-col.html">Design</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-5 pb-0 pb-md-5 has-anim">
        <div class="card portfolio-card card-overlay card-hover-zoom">
          <span class="card-img">
            <img class="img-fluid" src="image/portfolio/carousel/04.jpg" alt="Portfolio Thumbnail">
            <span class="img-overlay" style="background-color:#B10101"></span>
          </span>
          <div class="card-img-overlay text-center">
            <div class="block">
              <h3 class="h2 card-title mb-3"><a href="portfolio-single.html">Cocacola</a></h3>
              <span class="card-subtitle"><a href="portfolio-grid-3-col.html">Branding</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-5 pb-0 pb-md-5 has-anim">
        <div class="card portfolio-card card-overlay card-hover-zoom">
          <span class="card-img">
            <img class="img-fluid" src="image/portfolio/grid/02.jpg" alt="Portfolio Thumbnail">
            <span class="img-overlay" style="background-color:#375532"></span>
          </span>
          <div class="card-img-overlay text-center">
            <div class="block">
              <h3 class="h2 card-title mb-3"><a href="portfolio-single.html">Phoenix Plant</a></h3>
              <span class="card-subtitle"><a href="portfolio-grid-3-col.html">Plant</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mb-5 pb-5 has-anim">
        <div class="card portfolio-card card-overlay card-hover-zoom">
          <span class="card-img">
            <img class="img-fluid" src="image/portfolio/carousel/07.jpg" alt="Portfolio Thumbnail">
            <span class="img-overlay" style="background-color:#A98762"></span>
          </span>
          <div class="card-img-overlay text-center">
            <div class="block">
              <h3 class="h2 card-title mb-3"><a href="portfolio-single.html">Clapper</a></h3>
              <span class="card-subtitle"><a href="portfolio-grid-3-col.html">Marketing</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-5 pb-0 pb-md-5 has-anim">
        <div class="card portfolio-card card-overlay card-hover-zoom">
          <span class="card-img">
            <img class="img-fluid" src="image/portfolio/carousel/02.jpg" alt="Portfolio Thumbnail">
            <span class="img-overlay" style="background-color:#5A6422"></span>
          </span>
          <div class="card-img-overlay text-center">
            <div class="block">
              <h3 class="h2 card-title mb-3"><a href="portfolio-single.html">Pear</a></h3>
              <span class="card-subtitle"><a href="portfolio-grid-3-col.html">Branding</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-5 pb-0 pb-md-5 has-anim">
        <div class="card portfolio-card card-overlay card-hover-zoom">
          <span class="card-img">
            <img class="img-fluid" src="image/portfolio/carousel/05.jpg" alt="Portfolio Thumbnail">
            <span class="img-overlay" style="background-color:#0E268A"></span>
          </span>
          <div class="card-img-overlay text-center">
            <div class="block">
              <h3 class="h2 card-title mb-3"><a href="portfolio-single.html">F.A M.T</a></h3>
              <span class="card-subtitle"><a href="portfolio-grid-3-col.html">Design</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center has-anim">
        <a class="btn btn-circle-black mx-auto" href="portfolio.html" title="View More">+</a>
      </div>
    </div>
  </div>
</section>
<!-- end of portfolio -->

<!-- start of footer -->

  {% include "_footer.njk" %}
  
  <!-- end of footer -->
  {% endblock %}